spring:
  application:
    name: product-service
  datasource:
    url: jdbc:mysql://localhost:3306/kgbdb
    username: kgbdb
    password: kgbdb
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate:
        format_sql: true
server:
  port: 8081
